@import "tailwindcss";

:root {
  --background: #fafafa;
  --foreground: #171717;
  --primary-brand: #1a6adb;

  /* #1a6adb; */
  --border: #e3e3e3;
  --text-gray: #7b7b7b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary-brand);
  --color-primary-hover: #1558b4;
  --color-text: var(--text-gray);
  --color-border: var(--border);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --spacing-custom: 1200px;
}

body {
  background: var(--background);
  color: var(--foreground);
  width: 100vw;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}
button {
  cursor: pointer;
}

.sp-shadow {
  box-shadow: 2.8px 2.8px 44px 0px #1a6adb70;
}
